<body>
    <div class="menu">
        <ul>
            <li><a href="/">Home</a>
            </li>
            <li><a href="/about">About</a>
            </li>
            <li><a href="/new">Contact</a>
            </li>
        </ul> <img alt="Close" class="icon-close" src="/assets/close-0c9147fa56a8cfd00e1f6b29e91458dc.svg" width="24px"> </div>
    <div class="contact-main"> <img alt="Open" class="icon-menu" src="/assets/open-9688b19dacd0cc7d027490776ace74ff.svg" width="24px">
        <div class="content container">
            <h1>Thanks. We'll be in touch.</h1> </div>
    </div>
    <div class="footer">
        <div class="container">
            <p>A Shutterbugg Project</p>
        </div>
    </div>
    <script data-turbolinks-track="true" src="/assets/application-5ec8317a69c812470d7789bf2f91d0dd.js"></script>
</body>