<!DOCTYPE html>
<html>
<head>
  <title>Stories</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,100' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="menu">
        <ul>
            <li><a href="/">Home</a>
            </li>
            <li><a href="/about">About</a>
            </li>
            <li><a href="/signups/new">Contact</a>
            </li>
        </ul> <img alt="Close" class="icon-close" src="https://stories-rails.herokuapp.com//assets/close-0c9147fa56a8cfd00e1f6b29e91458dc.svg" width="24px"> </div>

<%= yield %>
  
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

</body>
  
</html>
